<div id='link-modal' class='modal fade' role='dialog'>
	<div class='modal-dialog'>
		<div class='modal-content'>

			<!-- Modal body -->
			<div id="modal-body" class='modal-body'></div>

		</div>
	</div>
</div>