<div id="wrapper" class="toggled">

	<!-- Sidebar-nav -->
	<div id="sidebar-wrapper">
		<%= render 'sidebarnav' %>
	</div>

	<!-- Link list -->
	<div id="content-wrapper" class="container-fluid readed">
		<%= render @links %>
	</div>

	<!-- Form modal -->
	<div id="modal-wrapper"></div>

</div>
